/* Variáveis */
:root{
    --lilas: #D475B3;
    --azul: #3DC3B6;
    --azulEscuro: #1B2D51;
    --bgColor: #F5F5F5;
    --cinza: #D4D5DD;
}

/* Fontes */
@font-face {
    font-family: 'projectFont';
    src: url(../fonts/Aldrich-Regular.ttf);
}

/* Reset */
html, body {
    margin: 0;
    padding: 0;
}

/* Estilos básicos */
body {
    background-color: var(--bgColor);
}

* {
    font-family: projectFont;
}

nav ul li {
    cursor: pointer;
}

/* Desktop */
section {
    width: 100%;
    margin: auto;
}

section nav {
    background-color: var(--lilas);
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: 0;
    margin-bottom: 2%;
}

section nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-around;
    align-items: center
}

section nav ul li {
    padding: 20px;
    list-style-type: none;
}

#search {
    background-color: var(--bgColor);
    font-size: large;
    padding: 10px;
    border: 0 none;
    outline: none;
    margin-bottom: 10px;
    border: var(--azulEscuro) solid 3px;
}

#searchButton {
    height: 30px;
}

.navB {
    width: 10%;
    height: 40px;
    color: var(--azulEscuro);
    border-radius: 10px;
    text-align: center;
    border: 0 none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

section nav ul li a {
    text-decoration: none;
}

section nav ul li img {
    display: none;
}

section nav ul li p {
    display: inline;
    color: white;
    font-size: 12pt;
}

section #resposta {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: space-evenly;
}


section #resposta .categoria .titulo {
    margin: 0 15px;
}

section #resposta .categoria .browserGames {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: scroll;
}

section #resposta .categoria .browserGames a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
}

.browserGame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 15px;
}

.browserGame .imagem {
    width: 250px;
    height: 300px;
}

.browserGame .imagem img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.browserGame #nome {
    color: var(--azulEscuro);
    margin-bottom: 0px;
    font-size: large;
}

.browserGame #categoria {
    color: var(--lilas);
    margin-top: 4px;
}

section #resposta .categoria #browserGamesSearch {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#avaliacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 24px;
}

section #resposta #avaliacoes #avaliacao {
    background-color: lightgray;
    border-radius: 10px;
    width: 40%;
    margin: 20px;
    padding: 24px;
}

section #resposta #avaliacoes #avaliacao #cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

section #resposta #avaliacoes #avaliacao #cabecalho #data {
    margin-bottom: 4;
    margin-top: 8;
}

section #resposta #avaliacoes #avaliacao #cabecalho #userName {
    font-size: xx-large;
    color: var(--lilas);
    margin-top: 0;
}

section #resposta #avaliacoes #avaliacao #textoAva {
    width: 100%;
    background-color: lightgray;
    border: none;
    outline: none;
    font-size: medium;
}

section #resposta #avaliacoes #avaliacao #nota {
    color: #3DC3B6;
    font-size: xx-large;
}

section #resposta #avaliacoes #avaliacao #util {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

section #resposta #avaliacoes #avaliacao #util #utilB {
    height: 30%;
    width: 80px;
    color: var(--azulEscuro);
    background-color: var(--azul);
    border-radius: 10px;
    text-align: center;
    border: 0 none;
    padding: 10px;
    outline: none;
    cursor: pointer;
    margin-right: 4px;
}

footer {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 0;
    background-color: var(--lilas);
    width: 100%;
}

footer p {
    font-size: 12pt;
    color: white;
    padding: 10px;
}
